@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button:not(:disabled),
[role="button"],
a[href],
select,
summary {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
